- hosts: all
  become: yes
  become_user: root
  tasks:
    - name: Install dependant packages
      with_items:
        - gconf2
        - gconf-service
        - python
        - gvfs-bin
        - libgtk2.0-0
        - xdg-utils
      package:
        name: "{{item}}"

    - name: Install GitKraken
      apt:
        deb: "https://release.gitkraken.com/linux/gitkraken-amd64.deb"

    - name: Configure persistent storage
      block:
        - name: Create persistent storage directory for GitKraken
          file:
            path: "/mnt/persistent_storage/gitkraken"
            state: directory
            owner: dev
            group: dev

        - name: Map user home config directory to persistent storage
          file:
            dest: /home/dev/.gitkraken
            src: /mnt/persistent_storage/gitkraken
            state: link
