- name: Install VSCode
  become: yes
  become_user: root
  block:
    - name: Install dependant packages
      package:
        name:
          - libxss1
          - libnss3
          - libsecret-1-0

    - name: Install Visual Studio Code
      block:
        - name: Check if package is already installed
          shell: dpkg --list | grep -E "^ii +code"
          ignore_errors: yes
          register: is_code_installed
        - name: Download and install Visual Studio Code if not present
          when: "is_code_installed.rc == 1"
          apt:
            deb: https://update.code.visualstudio.com/latest/linux-deb-x64/stable

- name: Configure persistent storage
  with_items:
    - { folder_id: user_home, location: '/home/dev/.vscode' }
    - { folder_id: user_config, location: '/home/dev/.config/Code' }
  loop_control:
    loop_var: persistent_storage
  include_role:
    name: persistent-storage

- name: Install required extensions
  become: yes
  become_user: dev
  block:
    - name: Gather list of currently installed extensions
      shell: code --list-extensions
      register: installed_extensions

    - name: Install extensions
      with_items: "{{ software_item.value.extensions }}"
      loop_control:
        loop_var: ext
      when: (ext|lower) not in (installed_extensions.stdout_lines|lower)
      shell: "code --install-extension {{ ext }} --force"
