- name: Install Terraform
  become: yes
  become_user: root
  vars:
    terraform_version: '0.12.6'
  block:
    - name: Install Terraform
      unarchive:
        src: "https://releases.hashicorp.com/terraform/{{ terraform_version }}/terraform_{{ terraform_version }}_linux_amd64.zip"
        dest: /usr/local/bin
        remote_src: yes